@{
    Layout = null; // No utilizar un diseño maestro para esta vista
    var mensaje = ViewData["Mensaje"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .input-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-label {
            min-width: 120px;
            padding-right: 10px;
            text-align: right;
        }

        .input-field {
            width: 150px; 
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        #mensaje {
            color: red;
        }
    </style>
</head>
<body>

<h2>Bienvenido</h2>

<div class="input-container">
    <label class="input-label" for="usuario">Usuario:</label>
    <input class="input-field" type="text" id="usuario" name="usuario" />
</div>
<div class="input-container">
    <label class="input-label" for="contraseña">Contraseña:</label>
    <input class="input-field" type="password" id="contraseña" name="contraseña" />
</div>
<div>
    <button type="button" id="btnIniciarSesion">Iniciar sesión</button>
</div>
<div id="mensaje"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnIniciarSesion").click(function () {
            var usuario = $("#usuario").val();
            var contraseña = $("#contraseña").val();

            $.ajax({
                type: "POST",
                url: "/login", // Cambia la URL a la acción de login
                data: { usuario: usuario, contraseña: contraseña },
                success: function (data) {
                    // Redirige a la vista "Welcome"
                    window.location.href = "/welcome";
                },
                error: function (xhr, status, error) {
                    var mensajeError = JSON.parse(xhr.responseText).message;
                    $("#mensaje").text("Error: " + mensajeError);
                }
            });
        });
    });
</script>

</body>
</html>
