body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-item a:hover {
    color: #66ccff;
}

.form-container {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

button[type="submit"] {
    margin-bottom: 20px ;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}
button[type="button"] {
    margin-bottom: 20px ;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    outline: none;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h2 {
    margin-top: 30px;
    font-size: 24px;
}

p {
    margin: 10px 0;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-form label {
    margin-right: 10px;
}

.search-form input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 6px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Estilos para el diálogo de creación de rol */


#dialog {
    display: none;
}
#dialog label {
    display: block;
    margin-bottom: 10px;
}